/*==========================公共样式======================*/
.content{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.content-fluid{
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.col-blue{
    color: #2196F3;
}
.col-gray{
    color: #999999;
}
.col-white{
    color: white;
}
.font-bold{
    font-weight:bold;
}