body{
    background: #F0F3F8;
}

.header{
    top: 0;
    background: white;
    z-index: 10;
}
.header a{
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
    color: rgba(0,0,0,0.35);
    margin-bottom: 30px;
}
.header a:hover,.header .active{
    color: #1096DB;
}
.header a:not(:last-child){
    margin-right: 40px;
}
.header i{
    margin-right: 7px;
    font-size: 12px;
    transform: scale(0.9) translateY(-2px);
}

/* 应用区*/
.yys{
    /*60是头部列表标题 10是下面添加应用*/
    height: calc(100vh - 60px - 10px);
    overflow-y: auto;
}
.yys .yy:last-child{
    height: calc(100vh - 60px - 10px)
}
.yy{
    font-size: 0;
    margin-top: 20px;
    padding-top: 10px;
}
.yy-title{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    height: 16px;
    line-height: 16px;
    padding-left: 10px;
    border-left: 3px solid #1096DB;
}
.yy-body{
    vertical-align: bottom;
    display: inline-block;
    width: 270px;
    height: 156px;
    margin: 15px;
    background: white;
    position: relative;
    border-radius:5px;
    box-shadow:0 2px 20px 5px rgba(40,120,255,0.1);
    transition: transform 0.3s;
    text-align: center;
}
.yy-body:hover{
    box-shadow:0 2px 20px 5px rgba(40,120,255,0.1);
    transform: translateY(-5px);
}
.yy-content-top{
    height:  100px;
    display: flex;
    align-items: center;
}
.yy-content-i{
    width: 60px;
    height: 60px;
    margin: 20px;
    border-radius: 50%;
    font-size:30px;
    line-height: 60px;
    text-align: center;
}
.yy-content-title{
    width: 150px;
    margin: 20px 20px 20px 0;
    font-size:15px;
    color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.yy-content-bottom{
    height: 56px;
    padding: 0 20px;
}
.yy-content-tip{
    font-size:14px;
    color: rgba(0, 0, 0, 0.45);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.yy-add{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    line-height: 56px;
    background:rgba(48,180,255,1);
    box-shadow:0 2px 20px 5px rgba(40,120,255,0.1);
    font-size:16px;
    text-align: center;
    color: white;
    border-radius:0 0 5px 5px
}
.yy-body:hover .yy-add{
    display: block;
}

/*已添加的应用*/
.ytj{
    position: absolute;
    bottom: 0;
    left: 0;
}
.ytj-tirgger{
    width: 220px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background:rgba(143,211,251,1);
    border-radius:10px 10px 0 0;
    margin: 0 auto;
    color:rgba(255,255,255,1);
    font-size:14px;
    padding-top: 5px;
}

.ytj-body{
    border-top: 10px solid rgba(143,211,251,1);
    height: 10px;
    background:rgba(143,211,251,1);
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.ytj-body-show{
    height: 145px;
}
.ytj-yy{
    width: 90px;
    height: 110px;
    background:rgba(255,255,255,1);
    border-radius:3px;
    margin: 15px 0 10px 20px;
    position: relative;
    padding-top: 10px;
}
.ytj-yy-remove{
    width:24px;
    height:24px;
    background:rgba(245,127,91,1);
    position: absolute;
    top: -13px;
    right: -13px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    color: white;
    font-size: 16px;
}
.ytj-yy-tb{
    margin: 0 auto 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}
.ytj-yy-title{
    margin: 10px 5px;
    height: 40px;
    font-size: 12px;
    color:rgba(0,0,0,0.65);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.ytj-yy-title-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}