@charset "UTF-8";
/*初始化样式*/
body {
  background: white !important;
  color: #333333;
  /*元素周边没有虚拟线*/ }
  body a, body a:link, body a:visited, body a:hover, body a:active {
    text-decoration: none;
    color: #333333; }
  body :focus, body input, body select, body option {
    outline: none; }

/* 头部标题 */
.dgzs-header {
  height: 80px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center; }
  .dgzs-header .title {
    font-size: 30px;
    height: 40px;
    line-height: 40px; }
  .dgzs-header .title-py {
    font-size: 14px;
    height: 16px;
    line-height: 16px; }

/* 入口区 */
.dgzs-rkq {
  height: 330px; }
  .dgzs-rkq .rks {
    font-size: 0; }
  .dgzs-rkq .rks a {
    display: inline-block; }

/* 多版 */
.dgzs-rkq-d {
  background: url(../images/d-rkq-bg.png) no-repeat center center;
  color: white; }
  .dgzs-rkq-d .content {
    height: 100%; }
  .dgzs-rkq-d .top {
    padding: 20px 0 10px;
    height: 165px;
    overflow: hidden; }
  .dgzs-rkq-d .bottom {
    padding: 10px 0 20px;
    height: 165px;
    overflow: hidden; }
  .dgzs-rkq-d .title {
    height: 24px;
    line-height: 24px;
    position: relative;
    font-size: 18px;
    padding-left: 13px; }
    .dgzs-rkq-d .title:before {
      content: '';
      width: 3px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 3px;
      border-radius: 1px;
      background: rgba(255, 255, 255, 0.3); }
  .dgzs-rkq-d .rk {
    margin-top: 10px;
    width: 183px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin-right: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    .dgzs-rkq-d .rk .d-icon {
      width: 20px;
      height: 21px;
      background: url(../images/icons.png) no-repeat 0 -60px;
      margin-right: 10px;
      position: relative;
      top: -3px;
      left: 0; }
  .dgzs-rkq-d a:nth-child(6) .rk, .dgzs-rkq-d a:nth-child(12) .rk {
    margin-right: 0; }
  .dgzs-rkq-d .rk:hover {
    background: white;
    color: #479DFF; }
    .dgzs-rkq-d .rk:hover .d-icon {
      background-position: -50px -60px; }

/* 简版 */
.dgzs-rkq-j {
  background: url(../images/j-rkq-bg.png) no-repeat center center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .dgzs-rkq-j .j-rk {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 20px;
    color: white; }
  .dgzs-rkq-j a:first-child .j-rk {
    background: #479DFF; }
    .dgzs-rkq-j a:first-child .j-rk:hover {
      background: #3686E2; }
  .dgzs-rkq-j a:last-child .j-rk {
    background: #91CE50; }
    .dgzs-rkq-j a:last-child .j-rk:hover {
      background: #7EC556; }
  .dgzs-rkq-j .j-icon {
    width: 30px;
    height: 30px;
    background: url(../images/icons.png) no-repeat 0 -120px; }
  .dgzs-rkq-j .title {
    width: 100%;
    padding: 5px 10px 0; }

/* 新闻区 */
.dgzs-xwq {
  /* 视高-标题-入口区-底部版权区 */
  min-height: calc(100vh - 80px - 330px - 49px);
  padding-top: 20px; }
  .dgzs-xwq .section {
    width: 50%;
    display: inline-block;
    max-height: 620px;
    overflow: auto;
    float: left;
    position: relative; }
    .dgzs-xwq .section:first-child {
      padding-right: 10px; }
    .dgzs-xwq .section:last-child {
      padding-left: 10px; }
  .dgzs-xwq .nav, .dgzs-xwq .nav li, .dgzs-xwq .nav li a {
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    border-bottom: 1px solid #e4e6e9;
    text-align: center;
    padding: 0;
    color: #666666;
    position: relative; }
  .dgzs-xwq .nav li {
    margin-right: 20px;
    position: relative; }
  .dgzs-xwq .nav > li.active > a, .dgzs-xwq .nav > li > a:focus, .dgzs-xwq .nav > li > a:hover {
    background: none;
    color: #479DFF; }
  .dgzs-xwq .nav > li.active > a::after, .dgzs-xwq .nav > li > a:focus::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #479DFF; }
  .dgzs-xwq .more {
    position: absolute;
    top: 0;
    right: 10px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #666666; }
    .dgzs-xwq .more:hover {
      color: #1492FF; }
  .dgzs-xwq .tab-pane ul {
    padding-left: 0px; }
  .dgzs-xwq .tab-pane li {
    margin: 12px 0;
    height: 19px;
    line-height: 19px;
    display: flex;
    justify-content: space-between; }
  .dgzs-xwq .tab-pane li:hover, .dgzs-xwq .tab-pane li:hover .section1-content1-tip {
    color: #479DFF; }
  .dgzs-xwq .section1-content1-title {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .dgzs-xwq .section1-content1-tip {
    margin-left: 10px;
    font-size: 12px;
    color: #666666;
    max-width: 90px;
    min-width: 70px; }

/* 底部版权区 */
.dgzs-footer {
  height: 49px;
  line-height: 49px;
  background: #EDEDED;
  text-align: center;
  font-size: 14px; }

/*移动端适配 小于1200*/
.screen-phone, .screen-tablet, .screen-desktop {
  /*头部标题*/
  /*入口区*/
  /*多版入口区*/
  /*简版入口区*/
  /*新闻区*/ }
  .screen-phone .dgzs-header, .screen-tablet .dgzs-header, .screen-desktop .dgzs-header {
    height: 45px;
    padding: 10px;
    min-width: auto; }
    .screen-phone .dgzs-header .title, .screen-tablet .dgzs-header .title, .screen-desktop .dgzs-header .title {
      font-size: 18px; }
  .screen-phone .dgzs-rkq, .screen-tablet .dgzs-rkq, .screen-desktop .dgzs-rkq {
    background-size: 100% 100%; }
  .screen-phone .dgzs-rkq-d, .screen-tablet .dgzs-rkq-d, .screen-desktop .dgzs-rkq-d {
    height: auto;
    min-width: auto; }
    .screen-phone .dgzs-rkq-d .content, .screen-tablet .dgzs-rkq-d .content, .screen-desktop .dgzs-rkq-d .content {
      width: auto; }
      .screen-phone .dgzs-rkq-d .content .top, .screen-tablet .dgzs-rkq-d .content .top, .screen-desktop .dgzs-rkq-d .content .top {
        padding: 10px 0 10px 10px;
        height: auto; }
      .screen-phone .dgzs-rkq-d .content .bottom, .screen-tablet .dgzs-rkq-d .content .bottom, .screen-desktop .dgzs-rkq-d .content .bottom {
        padding: 0 0 10px 10px;
        height: auto; }
    .screen-phone .dgzs-rkq-d .rks .rk, .screen-tablet .dgzs-rkq-d .rks .rk, .screen-desktop .dgzs-rkq-d .rks .rk {
      margin-right: 10px;
      margin-top: 10px; }
    .screen-phone .dgzs-rkq-d .rks a:nth-child(6) .rk, .screen-phone .dgzs-rkq-d .rks a:nth-child(12) .rk, .screen-tablet .dgzs-rkq-d .rks a:nth-child(6) .rk, .screen-tablet .dgzs-rkq-d .rks a:nth-child(12) .rk, .screen-desktop .dgzs-rkq-d .rks a:nth-child(6) .rk, .screen-desktop .dgzs-rkq-d .rks a:nth-child(12) .rk {
      margin-right: 10px; }
  .screen-phone .dgzs-rkq-j, .screen-tablet .dgzs-rkq-j, .screen-desktop .dgzs-rkq-j {
    height: auto;
    min-width: auto;
    flex-wrap: wrap; }
    .screen-phone .dgzs-rkq-j a .j-rk, .screen-tablet .dgzs-rkq-j a .j-rk, .screen-desktop .dgzs-rkq-j a .j-rk {
      margin: 10px; }
  .screen-phone .dgzs-xwq, .screen-tablet .dgzs-xwq, .screen-desktop .dgzs-xwq {
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .screen-phone .dgzs-xwq .section, .screen-tablet .dgzs-xwq .section, .screen-desktop .dgzs-xwq .section {
      min-width: 360px;
      padding: 0 10px; }
